a {
    color: rgb(14, 222, 3);
    transition: 0.5s;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }
    
    a:hover {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    }
    
    .active {
        background-color:#ffffff;
        font-size: x-large;
    }
    
    body {
        background-color:#beffd1;
    
    }
 